<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SaleCRMApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SaleCRMApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-react@5.0.0/dist/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        
        <partial name="_Navbar" />
        <partial name="_LoginPartial" />
    </header>
    <div class="container-fluid" style="min-height:750px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
        <partial name="_FooterPartial" />
        @*@Html.Partial("_FooterPartial")*@
   
       
   
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdb-react@5.0.0/dist/mdbreact.umd.js" integrity="sha384-xqSb3LBUlb0bDpcSka5fd39a5ZXvwaaKSeb8E4qjMLFmX5q2FhO5BR5L/dluoJ2c" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha384-k6VX0fbz1RlXcYOuOsZGs9GpZ3+Ie/L5as6DRaLzmJJ9qUqxFU4dJf2FuFp1dCk4" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>